/*---- Common ----*/
body {
  font-family: 'Montserrat', sans-serif;
  /* fixed navbar ทับ รูปanyshoes */
  /* padding-top: 72px; */
}

.container {
  width: 100%;

  /* *** */
  max-width: 1200px;
  margin: 0px auto;
  
  padding: 0 24px; 

}

@media screen and (max-width: 512px) {
  .container {
    padding: 0 12px;
  }
}

.section {
  margin-bottom: 64px;
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

/*---- Menu ----*/
.logo {
  height: 20px;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

@media screen and (max-width: 768px) {
  .menu-bar {
    height: 96px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
}

.menu-bar-wrapper {
  /* position: fixed; */
  position: sticky;
  top: 0;

  /* expand navbar to full-screen-width */
  left: 0; 
  right: 0;

  background-color: white;

  z-index: 1000;
}

.nav-list {
  display: flex;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: #f87060;
}

.nav-link:active {
  opacity: 0.5;
}

/* .nav-item {
  margin-left: 24px;
}

.nav-item:first-child {
  margin-left: 0px;
} */

.nav-item:not(:first-child) {
  margin-left: 24px;
}



/*---- Hero Section ----*/
.hero-section {
  background-image: url('../images/hero-background.jpg'); /* Photo by Nicholas Kampouris on Unsplash */
  background-size: cover;
  background-position: center center;
  height: 720px;
  padding-top: 128px;
}

@media screen and (max-width: 768px) {
  .hero-section {
    background-image:url('../images/hero-background-small.jpg') ;
  }
}

.hero-title {
  font-size: 64px;
  font-weight: 600;
}

/*---- Collection Section ----*/
.collection-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
  /*  IMPORTANT : ช่องว่างระหว่างกริด เสือกแอดทีั่นี่หว่ะ ​(แม่งไม่ได้ใส่ที่ .collection-item เป็น border)*/
  row-gap: 16px;
  column-gap: 16px;
  
  grid-template-areas: 
  "first first second third"
  "first first fourth fourth";
}

@media screen and (max-width: 768px){
  .collection-list {
    grid-template-areas:
      'first first second second'
      'third third fourth fourth';
  }
}

@media screen and (max-width: 512px){
  .collection-list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      'first'
      'second'
      'third'
      'fourth';
  }
}

.collection-item {
  background-size: cover;
  background-position: 50% 82%;
  padding: 24px;
  border-radius: 8px;
}

.collection-item-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  /* ? */
}

.collection-item-one {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.1)),
    url('../images/classic-collection.jpg'); /* Photo by NordWood Themes on Unsplash */


  grid-area: first;
}


.collection-item-two {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.2)
    ),
    url('../images/sport-collection.jpg'); /* Photo by Tom Radetzki on Unsplash */

  grid-area: second;
}

.collection-item-three {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url('../images/sandal-collection.jpg'); /* Photo by Andy Garza on Unsplash */

  grid-area: third;
  
}

.collection-item-four {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)),
    url('../images/casual-collection.jpg'); /* Photo by Trendest Studio on Unsplash */

  
  grid-area: fourth;
}

/*---- Product Section ----*/
.product-list {
  display: grid;
    /*  ?*/
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr;  ไม่ต้องใส่ก็ได้ เพราะถ้าเกิน มันจะได้ออโต้ขึ้นบรรทัดใหม่เอง*/
  row-gap: 16px;
  column-gap: 32px;
}

@media screen and (max-width: 768px) {
  .product-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 512px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}


.product-item {
  width: 100%;

  /*1.for line 151-154*/
  position: relative
}

.product-label {
  background-color: #f87060;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px;
  width: fit-content;
  /*2.adding position*/
  position: absolute;
  top: 24px;
  left: -8px;
}


.product-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.product-item-image {

  width: 100%;
  height: 250px;
  border-radius: 18px;
  margin-bottom: 12px;
  object-fit: cover;
}


.price {
  margin-top: 24px;
}

.price::after {
  content: " ฿";
  font-size: 20px;
}

/*---- About Section ----*/
.about-content {
  display: flex;
}
.about-image {
  min-width: 50%;
  height: 320px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 24px;
} 

.about-content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-image {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 24px;
  }

  .about-description {
    margin-bottom: 24px;

  }
}



/*---Social List---*/
.social-list {
  position: fixed;
  right: 72px;
  bottom: 60px;
}

.social-logo {
  width:60px;
}

@media screen and (max-width: 768px) {
  .social-list {
    display: none;
  }
} 


/*---Effects---*/
.hover-elevate {
  transition: box-shadow 0.1s ease-out 0s, transform 0.1s ease-out 0s;
  cursor: pointer;
}


.hover-elevate:hover {
  box-shadow: rgba(32,32,32,0.05) 0px 16px 16px 0px,
    rgba(42, 42, 42, 0.05) 0px 8px 8px 0px,
    rgba(49, 49, 49, 0.05) 0px 4px 4px 0px,
    rgba(45, 45, 45, 0.05) 0px 2px 2px 0px,
    rgba(35, 35, 35, 0.05) 0px 64px 64px 0px,
    rgba(49, 49, 49, 0.05) 0px 32px 32px 0px;
  transform: translateY(-10px);
}

.hover-elevate:active {
  box-shadow: none;
}


